*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

#site-header{
    background-color: pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#site-header div img{
    width: 50px;
    margin-left: 10px;
    margin: 10px;
}

#site-header div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#site-header nav ul{
    display: flex;
    justify-content: space-around;
}
#site-header nav ul li a{
    display: flex;
    display: inline-block;
    padding: 5px;
    color: black;
    font-weight: bold;
}

#site-main h1{
    text-align: center;
    padding: 20px;
}


h2{
    text-align: center;
}

#site-main article{
    background-color: lightsalmon;
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
    color: white;
}

h3{
    text-align: center;
    padding-bottom: 20px;
 color: black;
}

#site-main .uno{
    display: flex;
}
