* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
}

#site-header {
    background-color: rgb(70, 63, 63);


}

#site-header nav ul li {
    text-align: center;
    padding: 10px;

}

#site-header nav ul li a {
    color: white;
    display: inline-block;

}

#site-main section {
    margin-top: 50px;
    padding: 20px;

}

#site-main p {
    margin: 0;
}

#site-main section:first-child {
    background-color: dodgerblue;


}

#site-main section:last-child {
    background-color: rgb(56, 59, 62);
    color: white;


}

#site-main {
    display: flex;
    margin: 20px;

}


@media (min-width: 1024px) {

    #site-header ul {
        display: flex;

    }



    #site-main section:last-child {
            width: 30%;

    }

    #site-main section:first-child {
        width: 70%;

    }
}