* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

#site-main>div {
    display: flex;
    border: 1px solid violet;
    height: 110px;
    width: 400px;
    /* justify-content: space-around; */

}
.invisible {
    opacity: 0.1;
}

#site-main div div{
    background-color: pink;
    width: 100px;
    height: 100px;
    margin: 5px;
}

#site-main .segundo {
    justify-content: center;
}
/* #site-main .primero :first-child {
    background-color: pink;
    width: 100px;
    height: 100px;
}

#site-main .primero :nth-child(2) {
    background-color: pink;
    width: 100px;
    height: 100px;
}

#site-main .primero :nth-child(3) {
    background-color: pink;
    width: 100px;
    height: 100px;
}

#site-main .primero :last-child {
    background-color: pink;
    width: 100px;
    height: 100px;
}

#site-main .segundo div {
    background-color: pink;
    width: 100px;
    height: 100px;
    margin-top: 50px;

} */




