*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
h1{
    text-align: center;
    margin-bottom: 40px;

}

#site-main{
    padding: 25px;
}

#site-main ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

#site-main ul li{
    width: 30%;
    margin: 10px;
}

#site-main ul li figure{
    text-align: center;
}
#site-main ul li figure img{
    /* CON PORCENTAJE LAS FOTOS PARA QUE SE ADAPTEN */
    width: 100%;
    
}

#site-main ul li figure img:hover{
    opacity: 0.5;
}

#site-main ul li figure figcaption{
    text-align: center;
}