* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

.primera {
    display: flex;
    /* width: 100px;
    height: 100px; */
}

.primera div {
    width: 100px;
    height: 100px;
    background-color: pink;
    border: 1px solid;
    margin: 20px;

}

.segunda {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.segunda div {
    background-color: pink;
    border: 1px solid;
    width: 100px;
    height: 100px;

}

.tercera {
    display: flex;
}

.tercera div {
    background-color: pink;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    margin: 20px;
}

.cuarta{
    display: flex;
    justify-content: space-between;
}

.cuarta div{
    background-color: pink;
    border: 1px solid black;
    width: 100px;
    height: 100px;
margin: 20px;
}


.quinta{
    display: flex;
    justify-content: space-between;
}

.quinta div{
    background-color: pink;
    border: 1px solid black;
    width: 100px;
    height: 100px;
margin: 20px;
}