a:link {
    color: #000000;
    /* color: #RGB o #RRGGBB -> valores de 0 a F (full a tope) (de 0 a 15)*/
}

a:visited {
    color: crimson;
}

a:hover {
    color: dodgerblue;
    cursor: not-allowed;
}

a:active {
    color: pink;
}

.ejemplo-div {
    transition: all 0.5s;
    width: fit-content;
}

.ejemplo-div:hover {
    color: blue;
    background-color: red;
    font-size: 1.15rem;
    cursor: pointer;
    padding: 5px 8px;
    border-radius: 5px;
}

.ejemplo-tooltip p {
    background-color: yellowgreen;
    color: white;
    padding: 20px;
    text-align: center;
    display: none;

}

.ejemplo-tooltip:hover p {
    display: block;
    transition: all 0.5s;
}