* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

#site-header {
    background-color: purple;
}


#site-header nav ul a {
    display: flex;
    display: block;
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: bold;

}

#site-header ul a:hover{
    background-color: blueviolet;

}

#site-header nav ul li ul{
    display: none;
}

#site-header nav ul>li:nth-child(4):hover ul{
display: block;
background-color: rgb(252, 57, 206);
}

@media (min-width: 1024px){

#site-


}