body {
    background-color: cornflowerblue;
    color: white;
}

img#logo {
    width: 50px;
}

img#cuchara {
    width: 80%;
}

img#flecha {
    width: 120px;
}

ul li {
    list-style: none;
}

ul a {
    text-decoration: none;
    color: white;
}

header {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

header ul {
    display: flex;
    text-align: center;
    align-items: flex-end;
    font-weight: bold;
}

header ul li {
    padding: 20px;
    padding-bottom: 5px;
}
ul .seleccionado{
    border-bottom: 3px solid white;
    padding-bottom: 5px;
}
header div#contenedor-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header div p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.9rem;
    width: 195px;
}