* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins";
    font-weight: lighter;
}

body {
    background-color: rgb(29, 4, 35);
    position: relative;
}



#site-main header h2 a {
    color: white;
    font-weight: bold;

}

#site-main header img {
    width: 30px;
    height: 30px;
    margin-right: 150px;
    margin-top: 25px;
}

#site-main header {
    margin: 20px 20px 20px 20px;
    display: flex;
    justify-content: flex-end;

}

#site-main input {
    width: 150px;
    height: 30px;
    margin-right: 400px;
    margin-top: 20px;
    border-radius: 20px;
    opacity: 0.2;
    position: static;
}

#menu {
    display: flex;
    justify-content: flex-end;

}

#menu a {
    color: white;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    position: relative;
}

#type {
    position: relative;
}

.fa-magnifying-glass {
    position: absolute;
    color: white;
    opacity: 0.2;
    right: 410px;
    top: 30px;
}

#menu :last-child {
    background-color: rgb(83, 0, 86);
    border-radius: 20px;
    font-weight: normal;
    width: 90px;
    height: 20px;
}

#menu #foto {
    position: absolute;
    width: 25px;
    height: 30px;
    bottom: 5px;
    left: 60%;
}

.principal{
    width: 90vw;
    height: 180vh;
    background-color: rgb(54, 10, 54);
    border-radius: 20px;
    margin: 0 auto;
    
}

.principal .primero{
    width: 50px;
    height: 50px;
    background-color: rgb(130, 67, 188);
}